<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="FileMap1" value=".DEU;_de"/>
      <add key="FileMap2" value=".ENU;_en"/>
    </appSettings>
</configuration>